@font-face {
    font-family:feather;
    src: url('../../src/Fonts/feather/feather-webfont.ttf')format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: padrao;
    src: url('../../src/Fonts/Montserrat/Montserrat-Medium.ttf')format('truetype');
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: padrao;
    
}
.title{
    height: 100px;
    width: 100%;
    align-items: center;
    background:linear-gradient(45deg, #05C5F0,#0AF7F5,#02E0B0,#0AF793,
    #05F05C);
    background-size: 300%;
    animation: animTitle 15s infinite ease-in-out;
}
.title #loginCadastrar{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 2%;
}
.title .text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    float: left;
}
.title button{
    font-size: 16px;
    font-weight:600;
    padding: 9px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 15px rgba(80, 80, 80, 0.425);
    margin-left: 5px;
}
.textmsg{
    width: 100%;
    text-align: center;
}
#conteudo{
    height: 100vh;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;

}
.card{
    background: #05F05C;
    min-height: 280px;
    max-height: 350px;
    height:auto;
    width: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 20px;
}
.card .img{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card .img img{
    border-radius: 50%;
    height: 100%;
}
.card .titleCard{
    max-height: 100px;
    min-height: 80px;
    height: auto;
    text-align: center;
}
.card .descrision{
    width: 100%;
    text-align: center;
}
.card .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #0AF793;
    border-radius:10px;
    color: black;
}
.card .button p{
    margin-left: 10px;
    pointer-events: none;
}



@media screen and (max-width:405px){
    .title .text{
        font-size: 13px;
    }
    .title button{
        font-size: 14px;
       

    }
    .card{
        width: 98%;
       
    }
}
@media screen and (max-width:345px){
    .title .text{
        font-size: 13px;
    }
    .title button{
        font-size: 14px;
        margin: 5px 0 0 0;
    }
    .title #loginCadastrar{
        flex-direction: column;
    }
    .card{
        width: 98%;
    }
}


@keyframes animTitle{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
} 